**/build
**/.settings
**/.classpath
**/src/main/webapp/lib
**/generated
**/target
**/plugin.xml
*.augmented.*
**/*.ipr
**/*.iws
**/*.iml
**/.gradle
**/cert
**/out
**/.dev/
**/.tmp/
**/.DS_Store
**/*.sublime-project
**/*.sublime-workspace
**/bower_components/
**/node_modules/
**/test/coverage/
**/dist
**/npm-debug.log
!eocs-server-bootstrap/src/main/webapp/scripts
**/scripts/**/*
eocs-server-bootstrap/src/main/webapp/swagger
eocs-server-bootstrap/data/
es-data/
es-test-data/
data/
.project

classes/
logs/
*.log

**/test-results.xml

.idea/*
!.idea/vcs.xml
!.idea/modules.xml
!.idea/encodings.xml
!.idea/codeStyleSettings.xml
!.idea/runConfigurations